* text=auto eol=lf

# Fichiers exclus de l'archive installée par Composer
/.github            export-ignore
/tests              export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/compose.yaml       export-ignore
/phpunit.xml.dist   export-ignore
/art               export-ignore
