* text=auto eol=lf

# Files left out of the archive that Composer installs
/.github            export-ignore
/tests              export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/compose.yaml       export-ignore
/phpunit.xml.dist   export-ignore
/art               export-ignore
/CONTRIBUTING.md    export-ignore
